@model IEnumerable<TipMvcApp.Models.TicketPriority>

@{
    ViewData["Title"] = "Ticket Priority Index";
}

<h1>Index</h1>

<p>
    <a type="submit" class="btn btn-primary" asp-action="Create">Add A Priority</a>
</p>
<table class="table table-hover table-striped table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PriorityId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PriorityName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RespondWithin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ResolveWithin)
            </th>
            <th> Actions</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PriorityId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PriorityName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RespondWithin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ResolveWithin)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { priorityId = item.PriorityId }, new {@class = "btn btn-outline-primary"}) |
                    @Html.ActionLink("Details", "Details", new { priorityId = item.PriorityId }, new { @class = "btn btn-outline-primary" }) |
                    @Html.ActionLink("Delete", "Delete", new { priorityId = item.PriorityId }, new { @class = "btn btn-outline-danger" })
            </td>
        </tr>
}
    </tbody>
</table>
