@model IEnumerable<TipMvcApp.Models.TicketPriority>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PriorityId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PriorityName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RespondWithin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ResolveWithin)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PriorityId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PriorityName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RespondWithin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ResolveWithin)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { priorityId = item.PriorityId }) |
                    @Html.ActionLink("Details", "Details", new { priorityId = item.PriorityId }) |
                    @Html.ActionLink("Delete", "Delete", new { priorityId = item.PriorityId })
            </td>
        </tr>
}
    </tbody>
</table>
