@model TipMvcApp.Models.TicketType

@{
    ViewData["Title"] = "Details";
}
<link rel="stylesheet" href="~/css/StyleSheet.css" />
<h1>Details</h1>

<div>
    <h4>TicketType</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TicketTypeId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TicketTypeId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TicketTypeName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TicketTypeName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AssignedToEmpId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AssignedToEmpId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PriorityId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PriorityId)
        </dd>
    </dl>
</div>
<div>
    <a type="submit" class="btn btn-outline-primary" asp-action="Index">Back to List</a>
</div>
