@model IEnumerable<TipMvcApp.Models.Ticket>

@{
    ViewData["Title"] = "Index";
}
<link rel="stylesheet" href="~/css/StyleSheet.css" />

<h1>Index</h1>

<p>
    <a type="submit" class="btn btn-primary" asp-action="Create">Create New</a>
</p>
<table class="table table-hover table-striped table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TicketId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmpId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TicketTypeId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Subject)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TicketId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmpId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TicketTypeId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Subject)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedDate)
                </td>
            <td>
                    @Html.ActionLink("Edit", "Edit", new { ticketId = item.TicketId }) |
                    @Html.ActionLink("Details", "Details", new { ticketId = item.TicketId }) |
                    @Html.ActionLink("ByEmpId", "ByEmpId", new { empId = item.EmpId}) |
                    @Html.ActionLink("ByTypeId", "ByTypeId", new { typeId = item.TicketTypeId }) |
                    @Html.ActionLink("ByEmpIdandTypeId", "ByEmpIdandTypeId", new { empId = item.EmpId, typeId = item.TicketTypeId }) |
                    @Html.ActionLink("Delete", "Delete", new { ticketId = item.TicketId })
                </td>
        </tr>
}
    </tbody>
</table>
<div>
    <a type="submit" class="btn btn-outline-primary" asp-controller="Home" asp-action="Index">Home</a>
</div>
